name: Test

on: push

jobs:
  verify_templates_compiled:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-ruby@v1
    - uses: actions/checkout@v2
    - run: gem install bundler
    - run: bundle install --without=development
    - run: make compile
    - run: git diff --exit-code

  redis:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-ruby@v1
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2-beta
      with:
        go-version: '^1.13.1'
    - run: "echo ::remove-matcher owner=go::" # Messes with our output
    - run: go get golang.org/x/tools/cmd/goimports
    - run: gem install bundler
    - run: bundle install --without=development
    - run: make test_redis

  # Enable later!
  # 
  # docker:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/setup-ruby@v1
  #   - uses: actions/checkout@v2
  #   - uses: actions/setup-go@v2-beta
  #     with:
  #       go-version: '^1.13.1'
  #   - run: "echo ::remove-matcher owner=go::" # Messes with our output
  #   - run: go get golang.org/x/tools/cmd/goimports
  #   - run: gem install bundler
  #   - run: bundle install --without=development
  #   - run: make test_docker
